.navbar{
    background-color: #313947;
}

.title, .api-button, .originLabel{
    color: white;
}

.navbar-brand, .search, .originLabel, h5{
    padding: 1%;
}

.originLabel{
    padding-left: 0.5%;
}

.navbar-brand:hover, .article:hover, .github:hover{
    cursor: pointer;
}

.articles{
    display: grid; 
    grid-gap: 15px; 
    padding: 2%;
    grid-template-columns: repeat(5, 1fr); 
}

@media screen and (max-width: 992px){
    .articles{
        grid-template-columns: repeat(3, 1fr); 
    }   
}

@media screen and (max-width: 600px){
    .articles{
        grid-template-columns: repeat(1, 1fr); 
    }   
}

.article{
    color: rgba(255, 255, 255, 0.725);
    padding: 3%;
    border-radius: 2%;
    background-color: #3a5178;
    transition: transform 250ms
}

.article:hover{
    background-color: #5571a1;
    color: white;
    transform: translateY(-10px);
}

#origins{
    background-color: #3a4355
}

img{
    width: 100%;
}

.github, .github:link, .github:visited, .github:hover, .github:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}