.navbar{
    background-color: #313947;
}

.navbar-brand{
    padding: 1%;
}

.navbar-brand:hover{
    cursor: pointer;
}

.search{
    padding: 1%; margin: 0 auto; width: 40%
}

.article{
    padding: 3%;
    border-radius: 2%;
    background-color: #3a5178;
}

.article:hover{
    background-color: #5571a1;
    color: white;
    cursor: pointer;
}

img{
    width: 100%;
}

h5{
    padding: 1%;
}

.github:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
.github:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
.github:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.github:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}